body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
  overflow-x: hidden;
}

.container {
  display: flex;
  height: 100vh;
}

h1, h2 {
  border-bottom: 2px solid #30363d;
  padding-bottom: 10px;
  color: #58a6ff;
}

/* Sidebar */
aside {
  width: 250px;
  background: #161b22;
  transition: transform 0.3s ease;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  background: #0d1117;
  border-bottom: 2px solid #30363d;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  padding: 15px 20px;
}

.sidebar-menu li a {
  text-decoration: none;
  color: #c9d1d9;
  display: block;
  position: relative;
  transition: color 0.3s ease;
}

.sidebar-menu li a:hover {
  color: #58a6ff;
}

.sidebar-menu li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #58a6ff;
  transition: width 0.3s;
}

.sidebar-menu li a:hover::after {
  width: 100%;
}

/* hidden Sidebar */
.hidden-sidebar {
  transform: translateX(-250px);
}

/* adjust main content when sidebar is hidden */
.hidden-main {
  margin-left: 0;
}

/* Toggle Button */
.toggle-btn {
  position: fixed;
  top: 7px;
  left: 7px;
  cursor: pointer;
  z-index: 15;
}

.toggle-btn .bar {
  width: 30px;
  height: 4px;
  background: #c9d1d9;
  margin: 5px 0;
  transition: all 0.3s ease;
}

/* Main Content */
main {
  margin-left: 250px;
  padding: 20px;
  flex: 1;
  transition: margin-left 0.3s ease;
  overflow-y: auto;
}

main .section {
  display: none;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

main .section.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

main .home-content {
  text-align: center;
  margin-top: 20%;
}

main .home-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

main .home-content p {
  font-size: 1.2rem;
  color: #8b949e;
}

.search-input {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border: 1px solid #30363d;
  border-radius: 5px;
  background-color: #161b22;
  color: #c9d1d9;
}

.search-input::placeholder {
  color: #8b949e;
}

.search-input:focus {
  outline: none;
  border-color: #58a6ff;
}

.item {
  background: #161b22;
  margin: 15px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.item p {
  margin: 0;
  padding: 5px 0;
  color: #c9d1d9;
}

.item p strong {
  color: #58a6ff;
}
